<%= render "shared/header"%>
<div class="margin">
    <%= render partial: "shared/search_article", locals:{article: @articles} %>
</div>
<% if @article.present? %>
<h2 class='title'><%= "タグ:#{@tag} 検索結果" %></h2>
        <div class='article-contents'>
          <% @article.each do |article| %>
            <% if  article.start? %>  
              <div class='article-content'>
                  <div class='article-info'>
                    <div><%=link_to  user_path(article.user.id) do %>
                    <% if article.user.user_image.attached? %>
                      <%=image_tag article.user.user_image, class: "rounded mx-auto d-block"%>
                    <% else %>
                      <span><%= article.user.nickname %></span>
                    <% end %>
                    <% end %>
                    </div>が
                    <span><%= l article.created_at %></span>に投稿
                  </div>
                  <div class='article-content'>
                    <%= link_to article_path(article.id),method: :get do %>
                    <h3><%=article.name  %></h3>
                      <% if article.tags.present? %>
                        <div class='tags-table'>
                          <% @tags.each do |tag| %>
                            <%if article.tag_list.include?(tag.name) %>
                              <%= link_to "#{tag.name}(#{tag.taggings_count})", articles_path(tag: tag.name), class: "btn beta" %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
<% else %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="container">
  <button class="btn beta collapsed" type="button" data-toggle="collapse" data-target="#example-1" aria-controls="example-1" aria-expand="false">
        <span>新着記事</span>
  </button>
  <div class="collapse" id="example-1" style="">
    <div class="container">
      <div class="row">
        <%= render partial:"shared/articles1", locals:{ articles: @articles } %>
      </div>
    </div>
  </div>
  <%= render partial:"shared/articles2", locals:{ articles: @articles } %>
  <% if user_signed_in? %>
  <%= render partial:"shared/articles0", locals:{ articles: @articles } %>
  <% end %>
</div>

<% end %>

<%= render "shared/footer"%>