<%= render "shared/header"%>
<div class="margin">
</div>
<div class="back">
  <div class="tabs">
  <input id="article" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="article">新着記事</label>
  <input id="tweet" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="tweet">ツイート</label>
    <input id="draft" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="draft">下書き</label>
  <%= render partial:"shared/articles1", locals:{ articles: @articles } %>
  <%= render partial:"shared/articles2", locals:{ articles: @articles } %>
  <%= render partial:"shared/articles0", locals:{ articles: @articles } %>
  </div>
</div>

<%= render "shared/footer"%>