<%= render "shared/header",locals:{ articles: @articles } %>
<div class="margin">
</div>
<% if @article.present? %>
<h2 class='title'><%= "タグ:#{@tag} 検索結果" %></h2>
        <div class='article-contents'>
          <% @article.each do |article| %>
            <% if  article.start? %>  
              <div class='article-content'>
                  <div class='article-info'>
                    <div><%=link_to  user_path(article.user.id) do %>
                    <% if article.user.user_image.attached? %>
                      <%=image_tag article.user.user_image, class: "rounded-circle mx-auto d-block"  %>
                    <% else %>
                      <span><%= article.user.nickname %></span>
                    <% end %>
                    <% end %>
                    </div>が
                    <span><%= l article.created_at %></span>に投稿
                  </div>
                  <div class='article-content'>
                    <%= link_to article_path(article.id),method: :get do %>
                    <h3><%=article.name  %></h3>
                      <% if article.tags.present? %>
                        <div class='tags-table'>
                          <% @tags.each do |tag| %>
                            <%if article.tag_list.include?(tag.name) %>
                              <%= link_to "#{tag.name}(#{tag.taggings_count})", articles_path(tag: tag.name), class: "btn beta" %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
<% else %>
<%#=image_tag "furima-intro02.png",class:"first-slide", src:"/800x400?auto=yes&bg=777&fg=555&text=SearchTweet", alt:"ZERO slide"%>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%=image_tag "furima-intro02.png",class:"first-slide", src:"/800x400?auto=yes&bg=777&fg=555&text=SearchTweet", alt:"First slide"%>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>What's SearchTweet.</h1>
            <ul>
            <li>調査して記事を書く</li>
            <li>普段の調査活動をつぶやく</li>
            <li>自己研鑽アプリです</li>
            </ul>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%=image_tag "furima-intro02.png",class:"second-slide", src:"/800x400?auto=yes&bg=777&fg=555&text=SearchTweet", alt:"Second slide"%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Let it BE!!</h1>
            <ul>
            <li>調査して記事を書く</li>
            <li>普段の調査活動をつぶやく</li>
            <li>自己研鑽アプリです</li>
            </ul>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="accordion d-flex" id="accordion-4">
  <div class="card">
    <div class="card-header" id="header-4a">
      <button class="btn btn-link beta" type="button" data-toggle="collapse" data-target="#card-4a" aria-expanded="true" aria-controls="card-4a">
       新着記事
      </button>
    </div>
    <div id="card-4a" class="collapse" aria-labelledby="header-4a" data-parent="#accordion-4">
      <div class="card-body">
        <%= render partial:"shared/articles1", locals:{ articles: @articles } %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="header-4b">
      <button class="btn btn-link beta" type="button" data-toggle="collapse" data-target="#card-4b" aria-expanded="true" aria-controls="card-4b">
       ツイート
      </button>
    </div>
    <div id="card-4b" class="collapse" aria-labelledby="header-4b" data-parent="#accordion-4">
      <div class="card-body">
        <%= render partial:"shared/articles2", locals:{ articles: @articles } %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="card">
    <div class="card-header" id="header-4c">
      <button class="btn btn-link beta" type="button" data-toggle="collapse" data-target="#card-4c" aria-expanded="true" aria-controls="card-4c">
       下書き
      </button>
    </div>
    <div id="card-4c" class="collapse" aria-labelledby="header-4c" data-parent="#accordion-4">
      <div class="card-body">
        <%= render partial:"shared/articles0", locals:{ articles: @articles } %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container">
  <button class="btn beta collapsed" type="button" data-toggle="collapse" data-target="#example-1" aria-controls="example-1" aria-expand="false">
        <span>新着記事</span>
  </button>
  <div class="collapse" id="example-1" style="">
    <div class="container">
      <div class="row">
        <%= render partial:"shared/articles1", locals:{ articles: @articles } %>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= render "shared/footer"%>