<%= render "shared/header"%>
<div class="margin">
    <%= render partial: "shared/search_article", locals:{article: @articles} %>
</div>
<% if @article.present? %>
<h2 class='title'><%= "タグ:#{@tag} 検索結果" %></h2>
        <div class='article-contents'>
          <% @article.each do |article| %>
            <% if  article.start? %>  
              <div class='article-content'>
                  <div class='article-info'>
                    <div><%=link_to  user_path(article.user.id) do %>
                    <% if article.user.user_image.attached? %>
                      <%=image_tag article.user.user_image, class: "icon_small_image"%>
                    <% else %>
                      <span><%= article.user.nickname %></span>
                    <% end %>
                    <% end %>
                    </div>が
                    <span><%= l article.created_at %></span>に投稿
                  </div>
                  <div class='article-content'>
                    <%= link_to article_path(article.id),method: :get do %>
                    <h3><%=article.name  %></h3>
                      <% if article.tags.present? %>
                        <div class='tags-table'>
                          <% @tags.each do |tag| %>
                            <%if article.tag_list.include?(tag.name) %>
                              <%= link_to "#{tag.name}(#{tag.taggings_count})", articles_path(tag: tag.name) %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
<% else %>
<div class="back">
  <div class="tabs">
  <input id="article" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="article">新着記事</label>
  <input id="tweet" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="tweet">ツイート</label>
  <input id="draft" type="radio" name="tab_item" cheked>
  <label class="tab_item" for="draft">下書き</label>
  <%= render partial:"shared/articles1", locals:{ articles: @articles } %>
  <%= render partial:"shared/articles2", locals:{ articles: @articles } %>
<% if user_signed_in? %>
  <%= render partial:"shared/articles0", locals:{ articles: @articles } %>
<% end %>
  </div>
</div>

<% end %>

<%= render "shared/footer"%>