<%= render "shared/header"%>
<div class="margin">
</div>
<div class='back'>
  <div class='show-btns'>
    <ul class='show-btn'>
      <% if @article.user.id == current_user.id %>
        <li><%= link_to "編集", edit_article_path, method: :get , class: "purchase-btn-text"%> </li> 
        <li><%= link_to '削除', article_path, method: :delete, class: "purchase-btn-text" %>
        <li>                   
            <div class='article-goodjob-counts' >
              <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
            </div>
        </li> 
        <li><%= render partial: "favorites/favorite", locals:{article: @article} %></li>
      <% else %>
        <li>
          <div class='article-goodjob-counts' >
            <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
          </div>
        
        </li> 
        <li><%= render partial: "favorites/favorite", locals:{article: @article} %></li>
      <% end %>
    </ul>
  </div>
  <div class='article-contents'>
    <% if @article.present? %>
          <div class='article-contents'>
              <div class='article-name'>
                <h1><%=@article.name  %></h1>
              </div>
                <div class='article-username'>
                <h1><%=@article.user.nickname  %></h1>
              </div>
              <div class='article-text' >
                <p><%= markdown(@article.text).html_safe %></p>
              </div>
          </div>
    <% end %>
  </div>
  <div class='show-title'>
  </div>
</div>

<%= render "shared/footer"%>