<%= render "shared/header"%>
<div class='back'>
  <div class='show-btns'>
    <ul class='d-flex justify-content-around'>
    <% if  user_signed_in? %>
      <% if @article.user.id == current_user.id %>
        <div><%= button_to "編集", edit_article_path, method: :get , class: "beta btn"%> </div> 
        <div><%= button_to '削除', article_path, method: :delete, class: "beta btn" %></div>
        <div>                   
              <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
        </div> 
        <div><%= render partial: "favorites/favorite", locals:{article: @article} %></div>
      <% else %>
        <div>
          <div class='article-goodjob-counts' >
            <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
          </div>
        </div> 
        <div><%= render partial: "favorites/favorite", locals:{article: @article} %></div>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class='article-contents'>
    <% if @article.present? %>
            <div class='d-flex'>
              <div><%=link_to  user_path(@article.user.id) do %>
              <% if @article.user.user_image.attached? %>
                <%=image_tag @article.user.user_image, class: "rounded-circle" , width:"30", height:"30"%>
              <% else %>
                <span><%= @article.user.nickname %></span>
              <% end %>
              <% end %>
              </div>
              が<span><%= l @article.created_at %></span>に投稿
            </div>
            <div class='article-contents'>
              <div class='article-name'>
                <h1><%=@article.name  %></h1>
              </div>
              <div class='article-text' >
                <p><%= markdown(@article.text).html_safe %></p>
              </div>
            </div>
    <% end %>
  </div>
  <div class='show-title'>
  </div>
</div>

<%= render "shared/footer"%>