<%= render "shared/header"%>
<div class="margin">
</div>
<div class='back'>
  <div class='show-btns'>
    <ul class='show-btn'>
    <% if  user_signed_in? %>
      <% if @article.user.id == current_user.id %>
        <li><%= button_to "編集", edit_article_path, method: :get , class: "register-red-btn"%> </li> 
        <li><%= button_to '削除', article_path, method: :delete, class: "register-red-btn" %>
        <li>                   
              <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
        </li> 
        <li><%= render partial: "favorites/favorite", locals:{article: @article} %></li>
      <% else %>
        <li>
          <div class='article-goodjob-counts' >
            <%= render partial: "goodjobs/goodjob", locals:{article: @article} %>
          </div>
        </li> 
        <li><%= render partial: "favorites/favorite", locals:{article: @article} %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class='article-contents'>
    <% if @article.present? %>
            <div class='article-info'>
              <div><%=link_to  user_path(@article.user.id) do %>
              <% if @article.user.user_image.attached? %>
                <%=image_tag @article.user.user_image, class: "icon_small_image"%>
              <% else %>
                <span><%= @article.user.nickname %></span>
              <% end %>
              <% end %>
              </div>
              が<span><%= l @article.created_at %></span>に投稿
            </div>
            <div class='article-contents'>
              <div class='article-name'>
                <h1><%=@article.name  %></h1>
              </div>
              <div class='article-text' >
                <p><%= markdown(@article.text).html_safe %></p>
              </div>
            </div>
    <% end %>
  </div>
  <div class='show-title'>
  </div>
</div>

<%= render "shared/footer"%>