<%= render "shared/header"%>
<div class="margin">
</div>
<div class="back">
  <div class="user-contents">
    <div class="user-image">
      <% if @user.user_image.present? %>
        <%=image_tag @user.user_image, class: "icon_image"%>
        <div class="user-info">
          <div class="user-name"><%=@user.nickname%></div>
          <style>
            table, th, td {
              border-collapse: collapse;
              border: 1px solid #ddd; 
              background-color: #fff

            }

            td {
              text-align: center;
              padding: 3vh;
              text-decoration: none;
            }
          </style>
          <table>
          <% @articles_count.each_with_index do |article, i| %>
          <% if article.first == @user.nickname %>
          <tr>
            <td> <%= article.second %> </td>
            <td> <%= Article.where(user_id: @user.id).sum(:goodjobs_counts) %> </td>
            <td> <%= link_to followers_user_path(@user.id),method: :get do %>
            <%= @user.followers.count %>
            <% end %></td>
          </tr>
          <% end %>
          <% end %>
          <tr>
            <td> 投稿数 </td>
            <td> グッジョブ数 </td>
            <td> フォロワー数 </td>
          </tr>
          </table>
        </div>
      <% else %>
        <span><%=@user.nickname%></span>
      <% end %>
    </div>
    <div class="user-info">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="user-info">
      <% if @user.id == current_user.id %>
        <%= button_to "プロフィール編集", edit_user_path, method: :get , class: "register-red-btn"%>
      <% else %>
        <%= render 'relationships/follow' %>
      <% end %>
    </div>
  </div>
  <div class="tabs">
    <input id="article" type="radio" name="tab_item" cheked>
    <label class="tab_item" for="article">新着記事</label>
    <input id="tweet" type="radio" name="tab_item" cheked>
    <label class="tab_item" for="tweet">ツイート</label>
    <%= render partial:"shared/user_articles1", locals:{ articles: @articles, user: @user } %>
    <%= render partial:"shared/user_articles2", locals:{ articles: @articles, user: @user } %>
  </div>
</div>

<%= render "shared/footer"%>