<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='d-flex flex-column flex-md-row align-items-center  p-3 px-md-3 mb-4 beta border-bottom shadow-sm'>
  <div class='main-bar-contents'>
    <%= link_to 'SearchTweet', articles_path, method: :get, class:"h1 beta " %>
  </div>
  <%# ヘッダー操作ボタン %>
 <div class='d-flex flex-end px-md-1'>
    <ul class='d-flex row justify-content-end'>
        <% if user_signed_in? && current_user.id %>
          <div><%= link_to "しおり", user_favorites_path(current_user), method: :get , class: "p-2 btn beta"%> </div> 
          <div><%= link_to "+投稿", new_article_path, method: :get , class: "p-2 btn beta"%> </div> 
          <div><%= link_to '検索', articles_path, method: :get, class: "p-2 btn beta" %> </div>
          <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "p-2 btn beta"%> </div> 
          <div><%= link_to current_user.nickname, user_path(current_user), method: :get, class: "p-2 btn beta" %></div> 
        <% else %>
          <div><%= link_to 'ログイン', new_user_session_path,method: :get, class: "p-2 btn beta" %></div>
          <div><%= link_to '新規登録', new_user_registration_path,method: :get , class: "p-2 btn beta" %></div>
          <div><%= link_to '検索', articles_path, method: :get, class: "p-2 btn beta" %></div> 
        <% end %>
    </ul>
  </div>
<%# /ヘッダー操作ボタン %>
</div>