<div class="tab_content" id="article1_content">
  <div class="tab_content_description">
      <% if articles.present? %>
        <div class='article-contents'>
          <% articles.each do |article| %>
          <% if article.user.id == user.id %>
            <% if  article.start? %>  
              <div class='article-content'>
                  <div class='article-info'>
                    <div><%=link_to  user_path(article.user.id) do %>
                      <span><%= article.user.nickname %></span>
                    <% end %>
                    </div>が
                    <span><%= l article.created_at %></span>に投稿
                  </div>
                  <div class='article-content'>
                    <%= link_to article_path(article.id),method: :get do %>
                    <h3><%=article.name  %></h3>
                    <% end %>
                  <span><%=article.goodjobs_counts %>good</span>
                  <% if article.tags.present? %>
                    <div class='tags-table'>
                    <% @tags.each do |tag| %>
                       <%if article.tag_list.include?(tag.name) %>
                         <%= link_to "#{tag.name}(#{tag.taggings_count})", articles_path(tag: tag.name), class: "btn beta" %>
                      <% end %>
                    <% end %>
                    </div>
                  <% end %>
               </div>
              </div>
            <% end %>
          <% end %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>