<%= render "shared/header"%>
<div class="margin">
</div>
<%= form_with model: @user, url: user_session_path,class: 'registration-main', local: true do |f| %>
<div class='containers align-items-center d-flex flex-column'>
  <div class='h2'>
      会員情報入力
  </div>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-group">
    <div class='d-flex'>
      <label class="form-text">メールアドレス</label>
      <label class="beta btn sm">必須</label>
    </div>
    <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='d-flex'>
      <label class="form-text">パスワード</label>
      <label class="beta btn sm">必須</label>
    </div>
    <%= f.password_field :password, class:"form-control", id:"password", placeholder:"" %>
  </div>
  <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"beta btn" %>
  </div>
</div>
<% end %>

<%= render "shared/footer"%>
